{% extends "main.html" %}

{% block maincontent %}

<h1>Login</h1>

{% if failed %}

    <strong>Login failed!</strong> Check your credentials and try again.

{% endif %}

<form class="form" action= "/login" method="POST">
	<input id="dest" name="dest" type='hidden' value="{{ dest }}">
	<label for="username">Username</label>
	<input type="text" value="{{ username }}" name="username"/>
	<label for="password">Password</label>
	<input type="password" name="password"/>
	<button type="submit" class="btn">Login</button>
</form>

<a href="/forgot">Forgot password</a>

<script type="application/x-javascript">
    var QueryString = function () {
// function to parse parameters from url by http://stackoverflow.com/users/19068/quentin
// This function is anonymous, is executed immediately and 
// the return value is assigned to QueryString!
	var query_string = {};
	var query = window.location.search.substring(1);
	var vars = query.split("&");
	for (var i=0;i<vars.length;i++) {
	  var pair = vars[i].split("=");
	      // If first entry with this name
	  if (typeof query_string[pair[0]] === "undefined") {
	    query_string[pair[0]] = pair[1];
	      // If second entry with this name
	  } else if (typeof query_string[pair[0]] === "string") {
	    var arr = [ query_string[pair[0]], pair[1] ];
	    query_string[pair[0]] = arr;
	      // If third or later entry with this name
	  } else {
	    query_string[pair[0]].push(pair[1]);
	  }
	} 
	  return query_string;
      };
// if the url contains a destination, overwrite the one in the form
    q = QueryString().dest;
    if (q) {
	document.getElementById("dest").setAttribute("value", q);
    }
    
</script>

{% endblock %}